<form>
    <div class="brand-list">
        <h2>Kies een merk</h2>
        <ul>
            <li class="brand-list-item"><label><input type="checkbox" name="checkbox" value="value">Jupiler</label></li>
            <li class="brand-list-item"><label><input type="checkbox" name="checkbox" value="value">Stella</label></li>
            <li class="brand-list-item"><label><input type="checkbox" name="checkbox" value="value">Duvel</label></li>
            <li class="brand-list-item"><label><input type="checkbox" name="checkbox" value="value">Etc</label></li>
        </ul>
        <button class="right-button">Verder</button>
    </div>
    <div class="metric-list">
        <h2>Kies een metriek</h2>
        <ul>
            <li class="metric-list-item"><label><input type="checkbox" name="checkbox" value="value">Vaten</label></li>
            <li class="metric-list-item"><label><input type="checkbox" name="checkbox" value="value">Blikjes</label></li>
            <li class="metric-list-item"><label><input type="checkbox" name="checkbox" value="value">Flessen</label></li>
        </ul>
        <button class="left-button">Terug</button>
        <button class="right-button">Verder</button>
    </div>
    <div class="quantity">
        <h2>Vul een hoeveelheid in</h2>
        <input type="text" placeholder="Qyuantity">
        <button class="left-button">Terug</button>
        <button class="right-button">Verder</button>
    </div>
    <div class="overview">
        <h2>Overzicht</h2>
        <label for="brand">Merk: </label><span id="brand" class="overview-field"></span>
        <label for="metric">Metriek: </label><span id="metric" class="overview-field"></span>
        <label for="quantity">Hoeveelheid: </label><span id="quantity" class="overview-field"></span>
        <button class="left-button">Annuleer</button>
        <input type="submit" class="right-button" value="Verzend"/>
    </div>
</form>